.footer-minimal {
  @include transition($transition-fade);
  position: relative;
  height: 10rem;
  opacity: 1;

  &__brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.inactive {
    opacity: 0;
  }
}
