.tile-caption {
  color: $white;
  text-transform: uppercase;

  &__title {
    font-size: 2rem;
    font-weight: $font-weight-normal;
    line-height: 2.2rem;
    letter-spacing: 1px;
  }

  &__subtitle {
    font-size: 1.3rem;
    font-weight: $font-weight-heavy;
    line-height: 2.2rem;
    color: $gray-300;
    letter-spacing: 1px;
  }
}

.tile-caption--horizontal-centered {
  position: absolute;
  bottom: 2rem;
  z-index: $tile-caption-index;
  width: 100%;
  text-align: center;
}
