// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// "Lower third" gradient for text at bottom of box
// Uses the &:after psuedo on parent element!
@mixin box-bottom-gradient {
  position: relative;
  overflow: hidden;

  // Subtle gradient to make text pop
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 102%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0,  0.6) 25%, rgba(0,0,0,0) 45%);
  }
}

// 2px transparent white border on homepage slide nav and masters
// Requires parent to be position: relative, and uses the &:before psuedo on parent element
@mixin box-inset-border {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    z-index: 9;
  }
}

// Add a vignette to any container, uses the :after pseudo
@mixin mc-vignette {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, #000 100%),asset-url("global/overlay.png") center/100% 100% no-repeat;
    z-index: 1;
  }
}

// Pulse mixin
@mixin mc-animate-pulse {
  animation-name: mcPulseAnimation;
  animation-duration: 5000ms;
  transform-origin: center;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@mixin mc-bp ($breakpoint) {
  @if map-has-key($mc-breakpoints, $breakpoint) {
    $min-width: map-get($mc-breakpoints, $breakpoint);
    @media (min-width: $min-width) {
      @content;
    }
  } @else {
    @warn 'There is no breakpoint with that name';
  }
}
