// Naming Convention
//
// Prefixed all variables with mc
// mc-font, mc-color, mc-contain, mc-asset

// Fonts
$mc-font-default: 'Lato', "Helvetica", "Arial", sans-serif; // Should be used in most cases
$mc-font-secondary: 'Raleway', "Helvetica", "Arial", sans-serif; // For special use cases (big hero titles)


// Colors
$mc-color-bg-fallback:              #090909; // Page background color
$mc-color-accent-primary:           #C83232; // For things like active states, focus states
$mc-color-accent-primary-hover:     #C83E3D; // For things like active states, focus states

$mc-color-accent-secondary:         #311F39; // For things like background overlays (gradiated)
$mc-color-accent-secondary-hover:   #1E1C37;

$mc-color-neutral:                  #4D5768; // Default text color, neutral borders, lines

$mc-color-text-link:                #FFFFFF;
$mc-color-text-link-hover:          $mc-color-accent-primary;

$mc-color-active-state:             #70DB32;

$gradient-transition: linear-gradient(to bottom, black 0%, black 50%, #090909 100%);

// Containers
$mc-contain-middle: 1200px; // Middle container
$mc-contain-inner: 1070px; // Inner container


// Assets
$mc-asset-logo:      "../img/global/logo.svg";


// Breakpoints
$mc-bp-tiny:      480px;
$mc-bp-mini:      600px;
$mc-bp-small:     768px;
$mc-bp-medium:    992px;
$mc-bp-large:     1200px;
$mc-bp-full:      1440px;
$mc-bp-uwd:       2000px;

// Map for bp mixin
$mc-breakpoints: (
  tiny: $mc-bp-tiny,
  mini: $mc-bp-mini,
  small: $mc-bp-small,
  medium: $mc-bp-medium,
  large: $mc-bp-large,
  full: $mc-bp-full,
  uwd: $mc-bp-uwd
);

// Spacing scale
$point: 4px;
$pico: 8px;
$nano: 12px;
$micro: 16px;
$mini: 20px;
$tiny: 24px;
$small: 32px;
$medium: 48px;
$large: 64px;
$x-large: 80px;
$xx-large: 96px;
$xxx-large: 128px;

// Vertical Breakpoints
$mc-bp-vertical-small: 850px;

$mc-condensed-ease-timing: 450ms;


// Animations
$mc-default-ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
